@media only screen and (width: 1366px) {
    h1 {
        font-size: 55px;
    }
    .abtMe {
        padding-top: 10px;
    }
    /* Header/Navbar */
    a {
        font-size: 20px;
    }

    /* Cards/Portfolio */
    .cards {
        margin-left: -20px;
        padding-right: 100px;
    }

    /* Footer */
    footer {
        font-size: 25px;
    }
}
@media only screen and (width: 1024px) {
    h1 {
        font-size: 40px;
    }
    /* Header/Navbar */
    a {
        font-size: 15px;
    }

    /* Cards/Portfolio */
    .cards {
        padding-bottom: 50px;
    }
    
    /* Footer */
    footer {
        font-size: 20px;
    }
}
@media only screen and (width: 812px) {
    .abtMe {
        padding-top: 10px;
    }
    /* Header/Navbar */
    a {
        font-size: 20px;
    }

    /* Cards/Portfolio */
    .cards {
        margin-left: 20px;
    }
    .btn {
        margin-bottom: 20px;
    }
}
@media only screen and (width: 736px) {
    /* Header/Navbar */
    a {
        font-size: 20px;
    }

    /* Cards/Portfolio */
    .cards {
        margin-left: 40px;
    }
}
@media only screen and (width: 667px) {
    /* Header/Navbar */
    a {
        font-size: 20px;
    }

    /* Cards/Portfolio */
    .cards {
        margin-left: 50px;
    }
}
@media only screen and (max-width: 568px) {
    /* Header/Navbar */
    a {
        font-size: 20px;
    }

    /* Cards/Portfolio */
    .cards {
        margin-left: 0px;
    }
    .section {
        padding-bottom: 40px;
    }
}
